/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */

body{
    max-width: 100%;
}

*{
    font-family: 'Open Sans', sans-serif;
}

.big-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

.small-container{
    width: 700px;
    margin: 0 auto;
}


ul li{
    list-style-type: none
}


a{
    text-decoration: none;
}


.button-white{
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    color: black;
}


.button-black{
    background-color: black;
    padding: 15px;
    border-radius: 50px;
    color: white;
}


/* HEADER */

.header-top{
    background-color: #255EE9;
}

.nav-small{
    width: 25%;  
}

.nav-small.right{
    text-align: right;
}


.nav-big{
    width: 50%;
    text-align: center;
}

.nav-big > ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav-big > ul li a{
    color: white;
}

.header-bottom{
    padding-top: 150px;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

h1{
    font-size: 3em;
}

p{
    line-height: 30px;
    font-size: 20px
}

.small-container > * {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.buttons > * {
    margin-right: 20px;
}




/* MAIN */

section{
    display: flex;
    justify-content: center;
    padding: 30px 0;
}



.background-blue > * {
    width: 700px;
    height: 300px;
 
}

.box-blue , .box-pink {
    height: 300px;
}

.box-blue{
    width: 30%;
   
}

.box-pink{
    width: 20%;
    
}

.background-grey{
   
}

.box-green{
    width: 750px;
    height: 600px;
   
}


.box-big , .box-small {
    height: 300px;
}

.box-small{
    width: 15%;
}

.box-big{
    width: 35%;
    display: flex;
}

.box-big > * {
    height: 300px;
    width: calc(100% / 4)
}



/* FOOTER */

footer{
    margin-top: 1px;
    padding-top: 20px
}

.container-footer{
    width: 750px;
    height: 50px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.container-footer > * {
    padding: 10px;
}



/* DEBUG */


.background-blue> * {
    border: 2px dashed black;
}

.box-blue , .box-pink, .box-green, .box-big , .box-small{
    border: 2px dashed black;
}

.box-big > * {
    border: 2px dashed white;
}

.container-footer > * {
    border: 2px dashed black;
}